{% extends 'base.html.twig' %}

{% block title%} Inscripiton {% endblock %}

{% block body %}
    <div class="row">
        <div class="column large-12 tab-12">
            {% for message in app.flashes('success') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_start(form) }}
            {{ form_row(form) }}
            <button type="submit">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}