<!-- footer
================================================== -->
<footer class="s-footer">

    <div class="s-footer__main">

        <div class="row">

            <div class="column large-4 medium-6 tab-12 s-footer__info">

                <h5>About Our Site</h5>

                <p>
                    Lorem ipsum Ut velit dolor Ut labore id fugiat in ut fugiat nostrud qui in dolore commodo eu magna Duis cillum dolor officia esse mollit proident Excepteur exercitation nulla. Lorem ipsum In reprehenderit commodo aliqua irure labore.
                </p>

            </div> <!-- end s-footer__info -->

            <div class="column large-2 medium-3 tab-6 s-footer__site-links">

                <h5>Site Links</h5>

                <ul>
                    <li><a href="#0">About Us</a></li>
                    <li><a href="#0">Blog</a></li>
                    <li><a href="#0">FAQ</a></li>
                    <li><a href="#0">Terms</a></li>
                    <li><a href="#0">Privacy Policy</a></li>
                </ul>

            </div> <!-- end s-footer__site-links -->

            <div class="column large-2 medium-3 tab-6 s-footer__social-links">

                <h5>Social</h5>

                <ul>
                    <li><a href="#0">Twitter</a></li>
                    <li><a href="#0">Facebook</a></li>
                    <li><a href="#0">Dribbble</a></li>
                    <li><a href="#0">Pinterest</a></li>
                    <li><a href="#0">Instagram</a></li>
                </ul>

            </div> <!-- end s-footer__social links -->

            <div class="column large-4 medium-12 s-footer__subscribe">

                <h5>Subscribe</h5>

                <p>Keep yourself updated. Subscribe to our newsletter.</p>

                <div class="subscribe-form">

                    <form id="mc-form" class="group" novalidate="true">

                        <input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="Type &amp; press enter" required="">

                        <input type="submit" name="subscribe" >

                        <label for="mc-email" class="subscribe-message"></label>

                    </form>

                </div>

            </div> <!-- end s-footer__subscribe -->

        </div> <!-- end row -->

    </div> <!-- end s-footer__main -->

    <div class="s-footer__bottom">
        <div class="row">
            <div class="column">
                <div class="ss-copyright">
                    <span>© Copyright Abstract 2020</span>
                    <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
                </div> <!-- end ss-copyright -->
            </div>
        </div>

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 4h12v2H6zm5 10v6h2v-6h5l-6-6-6 6z"/></svg>
            </a>
        </div> <!-- end ss-go-top -->
    </div> <!-- end s-footer__bottom -->

</footer> <!-- end s-footer -->
