{% extends 'base.html.twig' %}

{% block title %} Ajouter un article {% endblock %}

{% block body %}

<h1>AJouter un article </h1>

    {{ form_start(form) }}

    {{ include('article/_form.html.twig') }}
    <button class="btn btn-primary">
        Ajouter
    </button>
    {{ form_end(form) }}
{% endblock %}